### Exercise 1: Calculate the multiplication and sum of two numbers

##### Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [1]:
a =34
b = 30
if a * b >= 1000:
    print(a + b)
else:
    print(a*b)

64

In [8]:
def mul_or_sum(value1, value2):
    if value1 * value2 >= 1000:
        return value1 + value2
    else:
        return value1 * value2
print(mul_or_sum(24,45))

69

In [9]:
def multiplication_or_sum(num1, num2):
    # calculate product of two number
    product = num1 * num2
    # check if product is less then 1000
    if product <= 1000:
        return product
    else:
        # product is greater than 1000 calculate sum
        return num1 + num2

# first condition
result = multiplication_or_sum(20, 30)
print("The result is", result)

# Second condition
result = multiplication_or_sum(40, 30)
print("The result is", result)

The result is 600
The result is 70

### Exercise 2: Print the sum of the current number and the previous number

#### Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [26]:
pre_num = 0
for i in range(1,11):
    x_sum = pre_num + i
    print(pre_num,i,x_sum)
    pre_num = i

0 1 1
1 2 3
2 3 5
3 4 7
4 5 9
5 6 11
6 7 13
7 8 15
8 9 17
9 10 19

In [24]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

# loop from 1 to 10
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", x_sum)
    # modify previous number
    # set it to the current number
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

### Exercise 3: Print characters from a string that are present at an even index number

##### Write a program to accept a string from the user and display characters that are present at an even index number.For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [37]:
str_chr = str(input("put chr :"))
b= len(str_chr)
for i in range(0, b - 1, 2):
    print(i,str_chr[i])

put chr :uuhjghgjkh
0 u
2 h
4 g
6 g
8 k

In [38]:
#using list
# accept input string from a user
word = input('Enter word ')
print("Original String:", word)

# using list slicing
# convert string to list
# pick only even index chars
x = list(word)
for i in x[0::2]:
    print(i)

Enter word fytrfytfyfty
Original String: fytrfytfyfty
f
t
f
t
y
t

In [43]:
a = list("hsdagjsgjhsd")
a[2::2]

['d', 'g', 's', 'j', 's']

### Exercise 4: Remove first n characters from a string

### Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here we need to remove first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here we need to remove first two characters from a string.
Note: n must be less than the length of the string.

In [49]:
a = "rizwan"
print(a[3:])

wan

In [52]:
def remove_chr(a,n):
    x = a[n:]
    return x

In [53]:
remove_chr("sdfsfsa",4)

'fsa'

### Exercise 5: Check if the first and last number of a list is the same
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [57]:
def same_num(ls):
    for i in ls:
        if ls[0] == ls[-1]:
            return True
        return False
same_num([12,34,56,78])

False

In [58]:
def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

### Exercise 6: Display numbers divisible by 5 from a list
Iterate the given list of numbers and print only those numbers which are divisible by 5

Expected Output:

Given list is  [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [3]:
def did_5(ls):
    for i in ls:
        if i % 5 == 0:
            print(i, end = ',')
did_5([5,45,34,2])

5,45,

In [61]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

### Exercise 7: Return the count of a given substring from a string
Write a program to find how many times substring “Emma” appears in the given string.

Given:

str_x = "Emma is good developer. Emma is a writer"
Expected Output:

Emma appeared 2 times

In [74]:

str_x = "Emma is good developer. Emma is a writer"
str_x.count("Emma")

2

In [75]:
str_x = "Emma is good developer. Emma is a writer"
# use count method of a str class
cnt = str_x.count("Emma")
print(cnt)

2

In [76]:
def count_emma(statement):
    print("Given String: ", statement)
    count = 0
    for i in range(len(statement) - 1):
        count += statement[i: i + 4] == 'Emma'
    return count

count = count_emma("Emma is good developer. Emma is a writer")
print("Emma appeared ", count, "times")

Given String:  Emma is good developer. Emma is a writer
Emma appeared  2 times

### Exercise 8: Print the following pattern
#### 1 
#### 2 2 
#### 3 3 3 
#### 4 4 4 4 
#### 5 5 5 5 5

In [7]:
for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

### Exercise 9: Check Palindrome Number
Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

Expected Output:

original number 121
Yes. given number is palindrome number

original number 125
No. given number is not palindrome number

In [111]:
a = str(4734)
if a[::-1] == a:
    print("plen")
else:
    print("not plen")

not plen

In [112]:
def is_palindrome(number):
    # Convert the number to a string
    number_str = str(number)
    
    # Reverse the string using slicing
    reversed_str = number_str[::-1]
    
    # Compare the original string with the reversed string
    if number_str == reversed_str:
        return True
    else:
        return False

# Test the function
number = int(input("Enter a number: "))
if is_palindrome(number):
    print(f"{number} is a palindrome")
else:
    print(f"{number} is not a palindrome")

Enter a number: 43325
43325 is not a palindrome

### Exercise 10: Create a new list from a two list using the following condition
Create a new list from a two list using the following condition

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

Given:

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
Expected Output:

result list: [25, 35, 40, 60, 90]

In [124]:
def even_odd_list(list1,list2):
    new_list = []
    for i in list1:
        if i % 2 == 1:
            new_list.append(i)
    for j in list2:
        if j % 2 == 0:
            new_list.append(j)
    return new_list
print(even_odd_list([10, 20, 25, 30, 35],[40, 45, 60, 75, 90]))

[25, 35, 40, 60, 90]

##

In [125]:
def merge_list(list1, list2):
    result_list = []
    
    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)
    
    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]

### Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [21]:
a = 2434
while a > 0:
    digit = a % 10
    a = a // 10
    print(digit, end=' ')

4 3 4 2

In [8]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

In [12]:
number = '7536'

def rev(number):
    b = ''
    for i in range(len(number) - 1, -1, -1):
        b += number[i]
    return b

rev(number)

'6357'

### Exercise 12: Calculate income tax for the given income by adhering to the below rules
Taxable Income	Rate (in %)
First $10,000	0
Next $10,000	10
The remaining	20
Expected Output:

For example, suppose the taxable income is 45000 the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000.

In [28]:
income = 45000
tax_payable = 0
print("Given income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    # no tax on first 10,000
    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

put your income : 487384

### Exercise 13: Print multiplication table form 1 to 10

In [49]:
for i in range(1,11):
    for j in range(1,11):
        print(i * j,  end=' ')
    print('\t')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

### Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

### * * * * *  
### * * * *  
### * * *  
### * *   
### *

In [53]:
for i in range(6, 0, -1):
    for j in range(i, 0, -1):
        print('*', end=' ')
    print(' ')

* * * * * *
* * * * *
* * * *
* * *
* *
*

### Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

Expected output

Case 1:

base = 2
exponent = 5

2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)

Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625 
i.e. (5 *5 * 5 *5 = 625)

In [54]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(base, "raises to the power of", exp, "is: ", result)

exponent(5, 4)

5 raises to the power of 4 is:  625