In [1]:
dic =  {"lahore": 100,'multan':{"lah": 10,'isl':20,'mul':190},'karachi':95}
print(dic['multan']['mul'])

190

In [2]:
dic['lahore'] = 1000
print(dic)

{'lahore': 1000, 'multan': {'lah': 10, 'isl': 20, 'mul': 190}, 'karachi': 95}

In [10]:
dic['lahore'] = 100
print(dic)

{'lahore': 100, 'multan': {'lah': 10, 'isl': 20, 'mul': 190}, 'karachi': 95}

In [11]:
print(len(dic))

3

In [12]:
print(sorted(dic['multan']))

['isl', 'lah', 'mul']

In [13]:
print(sorted(dic))

['karachi', 'lahore', 'multan']

In [18]:
for i in dic:
    print(i, ':', dic[i])

lahore : 100
multan : {'lah': 10, 'isl': 20, 'mul': 190}
karachi : 95

In [19]:
if 'lahore' in dic: #true
    print('lahore is their')

lahore is their

In [21]:
if 1000 in dic:#false
    print('1000 is thir')
else:
    print("Not their")

Not their

In [22]:
dic

{'lahore': 100, 'multan': {'lah': 10, 'isl': 20, 'mul': 190}, 'karachi': 95}

In [4]:
dic1 = {'lahore': 1000, 'multan':40, 'karachi': 95}
dic1

{'lahore': 1000, 'multan': 40, 'karachi': 95}

In [5]:
print(dic1.keys())
print(dic1.values())
print(dic1.items())

dict_keys(['lahore', 'multan', 'karachi'])
dict_values([1000, 40, 95])
dict_items([('lahore', 1000), ('multan', 40), ('karachi', 95)])

In [7]:
for i in dic1.keys():
    print(i)

lahore
multan
karachi

In [26]:
for i in dic1.values():
    print(i)

1000
40
95

In [27]:
for i in dic1.items():
    print(i)

('lahore', 1000)
('multan', 40)
('karachi', 95)

In [8]:
val = dic1.get('lahore')
print(val)

1000

### Exercise 1: Convert two lists into a dictionary

In [1]:
# input
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

# Expected output:

# {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [2]:
a = dict(zip(keys, values))
a

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [3]:

a = set(zip(keys, values))
a

{('Ten', 10), ('Thirty', 30), ('Twenty', 20)}

### Exercise 2: Merge two Python dictionaries into one

In [32]:

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Expected output:

# {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [34]:
a = {**dict1, **dict2}
print(a)
# The syntax ** is used for dictionary unpacking, which allows you to pass multiple dictionaries
# as arguments to a function or, in this case, combine them into a single dictionary.

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### Exercise 3: Print the value of key ‘history’ from the below dict

In [9]:


sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

# Expected output:
# 80

sampleDict['class']['student']['marks']['physics']

70

In [35]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

# Expected output:
# 70

In [36]:
print(sampleDict['class']['student']['marks']['physics'])

70

### Exercise 4: Initialize dictionary with default values

In [38]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

In [39]:
# {'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [40]:
a = dict.fromkeys(employees,defaults)
print(a)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [41]:
a = dict.fromkeys(defaults, employees)
print(a)

{'designation': ['Kelly', 'Emma'], 'salary': ['Kelly', 'Emma']}

### Exercise 5: Create a dictionary by extracting the keys from a given dictionary

In [42]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary","city"]

# Expected output:

# {'name': 'Kelly', 'salary': 8000}

In [43]:
dic = {k: sample_dict[k] for k in keys}
dic

{'name': 'Kelly', 'salary': 8000, 'city': 'New york'}

### Exercise 6: Delete a list of keys from a dictionary

In [76]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

# Expected output:
# {'city': 'New york', 'age': 25}

In [77]:
dit = {k:sample_dict[k] for k in sample_dict.keys()- keys}
dit

{'age': 25, 'city': 'New york'}

### Exercise 7: Check if a value exists in a dictionary

In [45]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

# Expected output:
# 200 present in a dict

In [46]:
if 300 in sample_dict.values():
    print('300 present in a dict')

300 present in a dict

In [47]:
if 'b' in sample_dict.keys():
    print('b present in a dict')

b present in a dict

### Exercise 8: Rename key of a dictionary

In [54]:
# Given:

sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [55]:
sample_dict['location'] = sample_dict.pop('city') 
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [56]:
# Expected output:
# {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

### Exercise 9: Get the key of a minimum value from the following dictionary

In [57]:

sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
# Expected output:
# Math

In [58]:
print(min(sample_dict, key = sample_dict.get))

Math

### Exercise 10: Change value of a key in a nested dictionary

In [59]:
# Given:

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [60]:
sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [61]:
# Expected output:

# {
#    'emp1': {'name': 'Jhon', 'salary': 7500},
#    'emp2': {'name': 'Emma', 'salary': 8000},
#    'emp3': {'name': 'Brad', 'salary': 8500}
# }