### Exercise 1: Create a function in Python
Write a program to create a function that takes two arguments, name and age, and print their value.

In [14]:
def data(name,age):
    print(name,age)
data("riz",23)

riz 23

In [2]:
def vari_length(*rand):
    print(rand)
vari_length(3,4,6)

(3, 4, 6)

### Exercise 2: Create a function with variable length of arguments
Write a program to create function func1() to accept a variable length of arguments and print their value.

Note: Create a function in such a way that we can pass any number of arguments to this function, and the function should process them and display each argument’s value.

Function call:


call function with 3 arguments

func1(20, 40, 60)

call function with 2 arguments

func1(80, 100)

Expected Output:

Printing values

20

40

60


Printing values

80

100

In [19]:
def vari_legth(*args):
    print(args)
vari_legth(12,34,54,32,12,43,23)
vari_legth(44,32,1)

(12, 34, 54, 32, 12, 43, 23)
(44, 32, 1)

In [20]:
def func1(*args):
    for i in args:
        print(i)

func1(20, 40, 60)
func1(80, 100)

20
40
60
80
100

### Exercise 4: Create a function with a default argument
Write a program to create a function show_employee() using the following conditions.

It should accept the employee’s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary
See: Default arguments in function

Given:

showEmployee("Ben", 12000)

showEmployee("Jessa")

Expected output:

Name: Ben salary: 12000

Name: Jessa salary: 9000

In [23]:
def show_employee(name, salary = 9000):
    print(name, salary)
show_employee("Ben", 12000)
show_employee("jessa")

Ben 12000
jessa 9000

### Exercise 5: Create an inner function to calculate the addition in the following way

Create an outer function that will accept two parameters, a and b

Create an inner function inside an outer function that will calculate the addition of a and b

At last, an outer function will add 5 into addition and return it

In [30]:

# outer function
def outer_fun(a, b):
    square = a ** 2

    # inner function
    def addition(a, b):
        return a + b

    # call inner function from outer function
    add = addition(a, b)
    # add 5 to the result
    return add + 5

result = outer_fun(5, 10)
print(result)

20

### Exercise 6: Create a recursive function
Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

A recursive function is a function that calls itself again and again.

Expected Output:

55

In [31]:
def recursive(n):
    if n:
        return n + recursive(n -1)
    else:
        return 0
a = recursive(10)
print(a)

55

### Exercise 7: Assign a different name to function and call it through the new name
Below is the function display_student(name, age). Assign a new name show_tudent(name, age) to it and call it using the new name.

Given:

def display_student(name, age):
    
    print(name, age)

display_student("Emma", 26)

You should be able to call the same function using

show_student(name, age)

In [39]:
def display_student(name, age):
    print(name, age)
display_student("rizwan", 23)

rizwan 23

In [41]:
show_student = display_student
show_student("rizwan", 23)

rizwan 23

### Exercise 8: Generate a Python list of all the even numbers between 4 to 30
Expected Output:

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [47]:
for i in range(4, 30):
    if i % 2 == 0:
        print(i, end=" ")

4 6 8 10 12 14 16 18 20 22 24 26 28

In [49]:
print(list(range(4,30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

### Exercise 9: Find the largest item from a given list
    
x = [4, 6, 8, 24, 12, 2]

Expected Output:

24

In [58]:
def largest(x):
    x = [4, 6, 8, 24, 12, 2]
    print(max(x))
largest(x)

24

In [55]:
x = [4, 6, 8, 24, 12, 2]
x.sort()
x[-1]

24