### Exercise 1: Create a list by picking an odd-index items from the first list and even index items from the second
Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

Given:

l1 = [3, 6, 9, 12, 15, 18, 21]

l2 = [4, 8, 12, 16, 20, 24, 28]

Expected Output:

Element at odd-index positions from list one

[6, 12, 18]

Element at even-index positions from list two

[4, 12, 20, 28]

Printing Final third list

[6, 12, 18, 4, 12, 20, 28]

In [5]:
l1 = [3, 6, 9, 12, 15, 18, 21]

l2 = [4, 8, 12, 16, 20, 24, 28]

a = l1[1::2]
b = l2[0::2]
a + b

[6, 12, 18, 4, 12, 20, 28]

In [6]:
list1 = [3, 6, 9, 12, 15, 18, 21]
list2 = [4, 8, 12, 16, 20, 24, 28]
res = list()

odd_elements = list1[1::2]
print("Element at odd-index positions from list one")
print(odd_elements)

even_elements = list2[0::2]
print("Element at even-index positions from list two")
print(even_elements)

print("Printing Final third list")
res.extend(odd_elements)
res.extend(even_elements)
print(res)

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

### Exercise 2: Remove and add item in a list
Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

Given:

list1 = [54, 44, 27, 79, 91, 41]

Expected Output:

List After removing element at index 4  [34, 54, 67, 89, 43, 94]

List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]

List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

In [17]:
list1 = [54, 44, 27, 79, 91, 41]
a = list1.pop(3)
print(list1)
b = list1.insert(2, 11)
print(list1)
c = list1.append(11)
print(list1)

[54, 44, 27, 91, 41]
[54, 44, 11, 27, 91, 41]
[54, 44, 11, 27, 91, 41, 11]

In [18]:
sample_list = [34, 54, 67, 89, 11, 43, 94]

print("Original list ", sample_list)
element = sample_list.pop(4)
print("List After removing element at index 4 ", sample_list)

sample_list.insert(2, element)
print("List after Adding element at index 2 ", sample_list)

sample_list.append(element)
print("List after Adding element at last ", sample_list)

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

### Exercise 3: Slice list into 3 equal chunks and reverse each chunk
Given:

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]

Expected Outcome:

Chunk  1 [11, 45, 8]

After reversing it  [8, 45, 11]

Chunk  2 [23, 14, 12]

After reversing it  [12, 14, 23]

Chunk  3 [78, 45, 89]

After reversing it  [89, 45, 78]

In [46]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]

chunk_1 = sample_list[0:3]
print(chunk_1)
print("rev_chunk",list(reversed(chunk_1)))
chunk_2 = sample_list[3:6]
print(chunk_2)
print("rev_chunk",list(reversed(chunk_2)))
chunk_3 = sample_list[6:]
print(chunk_3)
print("rev_chunk",list(reversed(chunk_3)))

[11, 45, 8]
rev_chunk [8, 45, 11]
[23, 14, 12]
rev_chunk [12, 14, 23]
[78, 45, 89]
rev_chunk [89, 45, 78]

### Exercise 4: Count the occurrence of each element from a list
Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.

Given:

sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

Expected Output:

Printing count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [50]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
print("Original list ", sample_list)

count_dict = dict()
for item in sample_list:
    if item in count_dict:
        count_dict[item] += 1
    else:
        count_dict[item] = 1

print("Printing count of each item  ", count_dict)

Original list  [11, 45, 8, 11, 23, 45, 23, 45, 89]
Printing count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

### Exercise 5: Create a Python set such that it shows the element from both lists in a pair
Given:

first_list = [2, 3, 4, 5, 6, 7, 8]

second_list = [4, 9, 16, 25, 36, 49, 64]

Expected Output:

Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [7]:
first_list = [2, 3, 4, 5, 6, 7, 8 ]

second_list = [4, 9, 16, 25, 36, 49, 64]

a = zip(first_list, second_list)

b = set(a)    
b

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

In [3]:
first_list = [2, 3, 4, 5, 6, 7, 8]

second_list = [4, 9, 16, 25, 36, 49, 64]

a = set(zip(first_list, second_list))
a

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

### Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set
See: Python Set

Given:

first_set = {23, 42, 65, 57, 78, 83, 29}

second_set = {57, 83, 29, 67, 73, 43, 48}

Expected Output:

Intersection is  {57, 83, 29}

First Set after removing common element  {65, 42, 78, 23}

In [74]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

intersection = first_set.intersection(second_set)
print("Intersection is ", intersection)
for item in intersection:
    first_set.remove(item)

print("First Set after removing common element ", first_set)

First Set  {65, 83, 23, 57, 42, 29, 78}
Second Set  {48, 67, 83, 73, 43, 29, 57}
Intersection is  {57, 83, 29}
First Set after removing common element  {65, 23, 42, 78}

### Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set
Given:

first_set = {27, 43, 34}

second_set = {34, 93, 22, 27, 43, 53, 48}

Expected Output:

First set is subset of second set - True

Second set is subset of First set -  False

First set is Super set of second set -  False

Second set is Super set of First set -  True

First Set  set()

Second Set  {67, 73, 43, 48, 83, 57, 29}

In [76]:
first_set = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

print("First set is subset of second set -", first_set.issubset(second_set))
print("Second set is subset of First set - ", second_set.issubset(first_set))

print("First set is Super set of second set - ", first_set.issuperset(second_set))
print("Second set is Super set of First set - ", second_set.issuperset(first_set))

if first_set.issubset(second_set):
    first_set.clear()

if second_set.issubset(first_set):
    second_set.clear()

print("First Set ", first_set)
print("Second Set ", second_set)

First Set  {57, 83, 29}
Second Set  {48, 67, 83, 73, 43, 29, 57}
First set is subset of second set - True
Second set is subset of First set -  False
First set is Super set of second set -  False
Second set is Super set of First set -  True
First Set  set()
Second Set  {48, 67, 83, 73, 43, 29, 57}

### Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list
Given:

roll_number = [47, 64, 69, 37, 76, 83, 95, 97]

sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97

Expected Outcome:

After removing unwanted elements from list [47, 69, 76, 97]

In [1]:


roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}

print("List:", roll_number)
print("Dictionary:", sample_dict)
print(roll_number[:]) 
# create new list
roll_number[:] = [item for item in roll_number if item in sample_dict.values()]
print("after removing unwanted elements from list:", roll_number)

List: [47, 64, 69, 37, 76, 83, 95, 97]
Dictionary: {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}
[47, 64, 69, 37, 76, 83, 95, 97]
after removing unwanted elements from list: [47, 69, 76, 97]

### Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates
Given:

speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

Expected Outcome:

[47, 52, 44, 53, 54]

In [85]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
for i in speed.values():
    print(i, end=' ')
uni_speed = list()
for i in speed.values():
    if i not in uni_speed:
        uni_speed.append(i)
print(uni_speed)

47 52 47 44 52 53 54 44 54 [47, 52, 44, 53, 54]

In [82]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53,
         'july': 54, 'Aug': 44, 'Sept': 54}

print("Dictionary's values - ", speed.values())

speed_list = list()

# iterate dict values
for val in speed.values():
    # check if value not present in a list
    if val not in speed_list:
        speed_list.append(val)
print("unique list", speed_list)

Dictionary's values -  dict_values([47, 52, 47, 44, 52, 53, 54, 44, 54])
unique list [47, 52, 44, 53, 54]

### Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number
Given:

sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

Expected Outcome:

unique items [87, 45, 41, 65, 99]

tuple (87, 45, 41, 65, 99)

min: 41
    
max: 99

In [101]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
uni = list(set(sample_list))
print(uni)
a  = tuple(uni)
print(a)
b = max(a)
print(b)
c= min(a)
print(c)

[65, 99, 41, 45, 87, 94]
(65, 99, 41, 45, 87, 94)
99
41

In [102]:
sample_list = [87, 52, 44, 53, 54, 87, 52, 53]

print("Original list", sample_list)

sample_list = list(set(sample_list))
print("unique list", sample_list)

t = tuple(sample_list)
print("tuple ", t)

print("Minimum number is: ", min(t))
print("Maximum number is: ", max(t))

Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

## Find All Pairs with a Given Sum


### Write a function that takes a list of integers and a target sum, returning all unique pairs of integers in the list that add up to the target sum.

### Input: [2, 4, 3, 5, 7, 8, -1], target=6  
### Output: [(2, 4), (-1, 7)]

In [47]:
def find_pairs(nums, target):
    pairs = []
    for i in range(len(nums)):
        for j in range(i + 1, len(nums)):
            if nums[i] + nums[j] == target:
                pairs.append((nums[i], nums[j]))
    return pairs
                
find_pairs([2,4,3,5,7,8,-1], 6)

[(2, 4), (7, -1)]

# Group Anagrams
## Given a list of strings, group all anagrams together.


### Input: ["eat", "tea", "tan", "ate", "nat", "bat"]
### Output: [["eat", "tea", "ate"], ["tan", "nat"], ["bat"]]

In [92]:
def group_anagrams(words):
    anagrams = {} 
    for word in words:
        sorted_word = "".join(sorted(word))
        if sorted_word in anagrams:
            anagrams[sorted_word].append(word)
        else:
            anagrams[sorted_word] = [word]
    return list(anagrams.values())

words = ["eat", "tea", "tan", "ate", "nat", "bat"]
group_anagrams(words)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

# Rotate List
## Rotate a list k steps to the right without using any additional list or importing libraries.

### Input: [1, 2, 3, 4, 5], k=2  
### Output: [4, 5, 1, 2, 3]

In [43]:

def rotate_ls(inp, k):

    z = len(inp)
    k = k % z

    print(k)

    inp.reverse()
    print(inp)

    inp[:k] = inp[:k][::-1]
    print(inp)

    inp[k:] = inp[k:][::-1]
    print(inp)

inp = [1,2,3,4,5]
rotate_ls(inp, 3)

3
[5, 4, 3, 2, 1]
[3, 4, 5, 2, 1]
[3, 4, 5, 1, 2]

# Find the Second Largest Number
## Write a function to find the second largest number in a list without using built-in functions like sorted().

### inp: [3, 1, 4, 1, 5, 9]
### Output: 5

In [51]:
def sec_lrg(inp):
    a = sorted(inp)
    a =a[-1]
    print(a)
sec_lrg(inp)

5

In [ ]:
def find_second_largest(numbers):
    largest = second_largest = None

    for num in numbers:
        if largest is None or num > largest:
            second_largest = largest
            largest = num
        elif second_largest is None or (num > second_largest and num != largest):
            second_largest = num

    return second_largest

inp = [3, 1, 4, 1, 5, 9]
print(find_second_largest(inp))

:

# Maximum Product of Three Numbers
## Given a list of integers, find the maximum product of any three numbers.

### Input: [-10, -10, 5, 2]  
### Output: 500  # (-10 * -10 * 5)

# Find Missing Number
## You are given a list of n-1 integers in the range from 1 to n. Find the missing number.

### Input: [1, 2, 4, 6, 3, 7, 8]  
### Output: 5

# Spiral Order of a Matrix
## Given a 2D list (matrix), return all elements in spiral order.

### Input: [[1, 2, 3], 
 ###       [4, 5, 6], 
 ###       [7, 8, 9]]  
### Output: [1, 2, 3, 6, 9, 8, 7, 4, 5]

# Remove Duplicates In-Place
## Remove duplicates from a list in-place such that each element appears only once and return the new length.

### Input: [1, 1, 2, 3, 4, 4, 5]
### Output: [1, 2, 3, 4, 5]

# Find Common Elements in Two Lists
## Given two lists, find the common elements without using set operations.

### Input: [1, 2, 3, 4, 5], [3, 4, 5, 6, 7]  
### Output: [3, 4, 5]