### Q1

### Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [2]:
lower_limit = 1500
upper_limit = 2700
outPut = []
for i in range(lower_limit, upper_limit):
    if i % 7 == 0 and i % 5 ==0:
        outPut.append(i)
print(outPut)
print(len(outPut))

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]
35

In [3]:
lower_limit = 1500
upper_limit = 2700
outPut = []
for i in range(lower_limit, upper_limit):
    if i % 7 == 0 and i % 5 ==0:
        outPut.append(str(i))
print(', '.join(outPut))

1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695

### Q3

### Write a Python program to guess a number between 1 and 9. Go to the editor
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [ ]:
import random
target_num, guess_num = random.randint(1,10),0
while target_num !=  guess_num:
    guess_num = int(input("enter a number to check for guess : "))
print('well Guess')

enter a number to check for guess : 4
enter a number to check for guess : 3
well Guess

In [16]:
a = random.randint(0,10)
print(a)

7

In [19]:
import random
random_num, guess_num = random.randint(0,9),0
while random_num != guess_num:
    guess_num = int(input("put number for guess : "))
print("well guess")

put number for guess : 1
put number for guess : 2
put number for guess : 3
put number for guess : 4
put number for guess : 5
well guess

### Q4

### Write a Python program to construct the following pattern, using a nested for loop.

#### * 
#### * * 
#### * * * 
#### * * * * 
#### * * * * * 
#### * * * * 
#### * * * 
#### * * 
#### *

In [74]:
a = 5
for i in range(a):
    for j in range(i):
        print('* ', end=' ')
    print('')
    
for i in range(a, 0, -1):
    for j in range(i):
        print('* ', end=' ')
    print('')

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

### Q4

### Write a Python program that accepts a word from the user and reverses it.

In [96]:

def reverse_string(s):
    reversed_s = ""
    for i in range(len(s)-1, -1, -1):
        reversed_s += s[i]
    return reversed_s

my_string = "hello world"
reversed_string = reverse_string(my_string)
print(reversed_string)

dlrow olleh

In [4]:
def reverse_string(n):
    reversed_string = ""
    for i in range(len(n) -1, -1, -1):
        reversed_string += n[i]
    return reversed_string

my_strint = input('put a string :')
a = reverse_string(my_strint)
print(a)

nawzir

### Q5

### . Write a Python program to count the number of even and odd numbers in a series of numbers.
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
Expected Output :
Number of even numbers : 5
Number of odd numbers : 4

In [23]:
def count_e_o(numbers):
    even = 0
    odd = 0
    for i in numbers:
        if i % 2 == 0:
            even += 1
        else:
            odd += 1
    return (even, odd)
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(count_e_o(numbers))

(4, 5)

In [2]:
# help(list)

### Q6

### Write a Python program that prints each item and its corresponding type from the following list.
Sample List : datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [112]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

for i in datalist:
    print('item is : ',i  , '   and its type is : ' ,type(i))

item is :  1452    and its type is :  <class 'int'>
item is :  11.23    and its type is :  <class 'float'>
item is :  (1+2j)    and its type is :  <class 'complex'>
item is :  True    and its type is :  <class 'bool'>
item is :  w3resource    and its type is :  <class 'str'>
item is :  (0, -1)    and its type is :  <class 'tuple'>
item is :  [5, 12]    and its type is :  <class 'list'>
item is :  {'class': 'V', 'section': 'A'}    and its type is :  <class 'dict'>

### Q7

### Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

In [2]:
for i in range(6):
    if i == 3 or i == 6:
        continue
    print(i, end=' ')

0 1 2 4 5

### Q8

### Write a Python program to get the Fibonacci series between 0 and 50. Go to the editor
Note : The Fibonacci Sequence is the series of numbers :
0, 1, 1, 2, 3, 5, 8, 13, 21, ....
Every next number is found by adding up the two numbers before it.
Expected Output : 1 1 2 3 5 8 13 21 34

In [134]:
a, b = 0,1
while b < 50:
    print(b)
    a,b = b, a+b

1
1
2
3
5
8
13
21
34

In [1]:
n = 50
a, b = 0, 1
while a < n:
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [9]:
def fib_n(n):
    a, b = 0, 1
    for i in range(n-1):
        a, b = b, a + b
    return b

print(fib_n(50))

12586269025

### Q9:

### Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".
Sample Output :
fizzbuzz
1
2
fizz
4
buzz

In [192]:
for i in range(50):
    
    if i % 3 == 0 and i % 5 == 0:
        print('FizzFuzz')
        continue
        
    elif i % 5 == 0:
        print('Fuzz')
        continue
    elif i % 3 == 0:
        print('Fizz')
        continue
    print(i)

FizzFuzz
1
2
Fizz
4
Fuzz
Fizz
7
8
Fizz
Fuzz
11
Fizz
13
14
FizzFuzz
16
17
Fizz
19
Fuzz
Fizz
22
23
Fizz
Fuzz
26
Fizz
28
29
FizzFuzz
31
32
Fizz
34
Fuzz
Fizz
37
38
Fizz
Fuzz
41
Fizz
43
44
FizzFuzz
46
47
Fizz
49

### Q10:

### Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note :
i = 0,1.., m-1
j = 0,1, n-1.

In [199]:
def row_and_col(m,n):
    array = []
    for i in range(m):
        row = []
        for j in range(n):
            row.append(i * j)
        array.append(row)
    return array
print(row_and_col(5,3))

[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6], [0, 4, 8]]

### Q11

### Write a Python program that accepts a sequence of lines (blank line to terminate) as input and prints the lines as output (all characters in lower case).

In [3]:
while True:
    line = input().strip()  # Read a line from user input and remove leading/trailing whitespace
    if not line:  # Exit loop if line is empty
        break
    print(line.upper())  # Print line in lower case

stwutyu
STWUTYU
hjgj
HJGJ

### Q12

### Write a Python program that accepts a string and calculates the number of digits and letters. Go to the editor
Sample Data : Python 3.2
Expected Output :
Letters 6
Digits 2

In [225]:
def count_d_s(ls):
    digit = 0
    num = 0
    for i in ls:
        if i.isdigit():
            digit += 1
        elif i.isalpha():
            num += 1
    return digit,num
print(count_d_s('sdsd432'))

(3, 4)

### Q14

### Write a Python program to check the validity of passwords input by users.
Validation :

#### At least 1 letter between [a-z] and 1 letter between [A-Z].
#### At least 1 number between [0-9].
#### At least 1 character from [$#@].

### Minimum length 6 characters.
#### Maximum length 16 characters.

In [5]:
# Get password from user input
password = input("Enter password: ")

# Define variables for criteria
lower = False
upper = False
number = False
special = False

# Check password for criteria
if len(password) >= 6 and len(password) <= 16:
    for char in password:
        if char.islower():
            lower = True
        elif char.isupper():
            upper = True
        elif char.isdigit():
            number = True
        elif char in ['$','#','@']:
            special = True

# Print result
if lower and upper and number and special:
    print("Password is valid.")
else:
    print("Password is not valid.")

Enter password: ghkf#65A
Password is valid.

### Q15

#### . Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

In [5]:
lower_limit = 100
upper_limit = 400
even_num_str = []
for i in range(lower_limit, upper_limit + 1):
    if i % 2 == 0:
        even_num_str.append(i) 
print(even_num_str)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400]

### Exercise 1: Print First 10 natural numbers using while loop

Expected output:

1
2
3
4
5
6
7
8
9
10

In [3]:
i = 1
while i < 11:
    print(i)
    i = i +1

1
2
3
4
5
6
7
8
9
10

### Exercise 2: Print the following pattern
Write a program to print the following number pattern using a loop.

1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5

In [7]:

print("Number Pattern ")

# Decide the row count. (above pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Exercise 3: Calculate the sum of all numbers from 1 to a given number
Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

Expected Output:

Enter number 10

Sum is:  55

In [15]:
n = int(input("put your num : "))
x = sum(range(1, n + 1))
print('Sum is:', x)

put your num : 9
Sum is: 45

### Exercise 4: Write a program to print multiplication table of a given number
For example, num = 2 so the output should be

In [17]:
table_num = int(input("put number for table : "))
for i in range(11):
    print(table_num * i)

put number for table : 2
0
2
4
6
8
10
12
14
16
18
20

In [18]:
n = 2
# stop: 11 (because range never include stop number in result)
# run loop 10 times
for i in range(1, 11, 1):
    # 2 *i (current number)
    product = n * i
    print(product)

2
4
6
8
10
12
14
16
18
20

### Exercise 5: Display numbers from a list using loop

Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

Expected output:

75

150

145

In [3]:
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item of a list
for i in numbers:
    if i > 500:
        break
    elif i > 150:
        continue
    # check if number is divisible by 5
    elif i % 5 == 0:
        print(i)

75
150
145

### Write a program to count the total number of digits in a number using a while loop.
For example, the number is 75869, so the output should be 5.

In [2]:
number = 43254
count = 0
while number != 0:
    number = number // 10
    count +=1
    print(count)

1
2
3
4
5

### Exercise 7: Print the following pattern
Write a program to use for loop to print the following reverse number pattern

5 4 3 2 1 

4 3 2 1 

3 2 1 

2 1 

1

In [4]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0, 1):
        print(j,end=' ')
    print()

#### Exercise 8: Print list in reverse order using a loop
Given:
list1 = [10, 20, 30, 40, 50]

Expected output:

50
40
30
20
10

In [12]:
list1 = [10, 20, 30, 40, 50] 
size = len(list1) - 1
for i in range(size, -1 ,-1):
    print(list1[i])

50
40
30
20
10

In [13]:
list1 = [10, 20, 30, 40, 50]
# reverse list
new_list = reversed(list1)
# iterate reversed list
for item in new_list:
    print(item)

50
40
30
20
10

### Exercise 9: Display numbers from -10 to -1 using for loop
Expected output:

-10

-9

-8

-7

-6

-5

-4

-3

-2

-1

In [3]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### Exercise 10: Use else block to display a message “Done” after successful execution of for loop
For example, the following loop will execute without any error.

Given:

for i in range(5):

    print(i)
    
Expected output:

0

1

2

3

4

Done!

In [27]:
for i in range(5):
    print(i)
else: 
    print("Done!")

0
1
2
3
4
Done!

### Exercise 11: Write a program to display all prime numbers within a range
Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers

Examples:

6 is not a prime mumber because it can be made by 2×3 = 6

37 is a prime number because no other whole numbers multiply together to make it.

Given:

# range

start = 25

end = 50

Expected output:

Prime numbers between 25 and 50 are:

29
31
37
41
43
47

In [33]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

### Exercise 12: Display Fibonacci series up to 10 terms
The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

Expected output:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [3]:
a , b = 0, 1
for i in range(10):
    print(a,end=' ')
    c = a + b
    a = b
    b = c

0 1 1 2 3 5 8 13 21 34

In [4]:
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

### Exercise 13: Find the factorial of a given number
Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5


5! = 5 × 4 × 3 × 2 × 1 = 120
Expected output:

120

In [10]:
def fact(n):
    factorail = 1
    for i in range(1, n + 1):
        factorail = factorail * i
    return factorail
fact(5)

120

In [ ]:
def fact(n):
    if n==0:
        return 1
    else:
        print(n)
        return fact(n-1)*(n)
    
fact(4)

### Exercise 15: Use a loop to display elements from a given list present at odd index positions

Given:

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Note: list index always starts at 0

Expected output:

20 40 60 80 100

In [19]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i)

20
40
60
80
100

### Exercise 16: Calculate the cube of all numbers from 1 to a given number
Write a program to rint the cube of all numbers from 1 to a given number

Given:

input_number = 6

Expected output:

Current Number is : 1  and the cube is 1

Current Number is : 2  and the cube is 8

Current Number is : 3  and the cube is 27

Current Number is : 4  and the cube is 64

Current Number is : 5  and the cube is 125

Current Number is : 6  and the cube is 216

In [20]:
n = 6
for i in range(1,n+1):
    a = i*i*i
    print(a)

1
8
27
64
125
216

### Exercise 18: Print the following pattern
Write a program to print the following start pattern using the for loop

In [7]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*