### Q_No_1

### Reverse a string without slicing

In [10]:
def reverse_str(str1):
    b= ''
    for i in range(len(str1) -1, -1, -1):
        b+= str1[i]
    return b
reverse_str("Rizwan")

'nawziR'

In [5]:
#Write a program to reverse an integer in Python.
def rev(a):
    b = ''
    for i in range(len(a) -1, -1, -1):
        b += a[i]
    return b
a = '34567'
rev(a)

'76543'

In [6]:
a = 'rizwan'
b = a[::-1]
print(b)

nawzir

### Q_NO_2

### Sort a list without builtin function

In [6]:
a = [3,4,5,1,2,9]
a.sort()
a
#cannt use this

[1, 2, 3, 4, 5, 9]

In [23]:
def bubble_sort(a):
    n = len(a)
    for i in range(n - 1):
        for j in range(0, n -i -1):
            if a[j] > a[j +1]:
                a[j], a[j +1] = a[j + 1], a[j]
    return a

bubble_sort([3,4,5,1,2,9])

[1, 2, 3, 4, 5, 9]

In [ ]:
def bubble_sort(arr):
    n = len(arr)
    
    for i in range(n - 1):
        # Last i elements are already in place
        for j in range(0, n - i - 1):
            # Traverse the list from 0 to n-i-1
            # Swap if the element found is greater than the next element
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
    
    return arr

# Example usage:
my_list = [5, 2, 8, 1, 3]
sorted_list = bubble_sort(my_list)
print(sorted_list)

### Q_No_3

### Find find a febnochhi sequnce of n

In [27]:
def fibonacci_iterative(n):
    # Base case: 0th and 1st Fibonacci numbers are 0 and 1
    if n <= 1:
        return n

    # Initialize variables for the first two Fibonacci numbers
    a, b = 0, 1

    # Calculate Fibonacci values iteratively
    for i in range(2, n + 1):
        c = a + b
        a, b = b, c

    return c

# Example usage:
n = 10
fibonacci_value = fibonacci_iterative(n)
print(f"The Fibonacci value of {n} is: {fibonacci_value}")

The Fibonacci value of 10 is: 55

In [9]:
def feb(n):
    if n < 0:
        return n
    else:
        a, b = 0, 1
        for i in range(2, n +1):
            c = a + b
            a, b = b, c
        return c
feb(10)

55

### Q_NO_4    (important)

### Write a python code to find prime number untill n

In [15]:
# Program to check if a number is prime or not
# Input from the user
num = int(input("Enter a number: "))

# If number is greater than 1
if num > 1:
    # Check if factors exist
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
       
# If the input number is less than or equal to 1
else:
    print(num, "is not a prime number")

Enter a number: 44
44 is not a prime number

In [2]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

# Test the function
num = 29
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

29 is a prime number.

In [12]:
def get_primes_until(n):
    primes = []  # List to store prime numbers
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

# Test the function
n = 20
print(f"Prime numbers up to {n}: {get_primes_until(n)}")

Prime numbers up to 20: [2, 3, 5, 7, 11, 13, 17, 19]

### Q_NO_5

### Write python code to find table of a number

In [7]:
def find_table(n):
    for i in range(1, 11):
        print(n,'x', i, '=', n * i)

In [8]:
find_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### Q_NO_6(important)

###     Write a program in Python to check whether an integer is palndrome number or not.

In [18]:
# 121, mom, 343

In [21]:
def is_palindrome(num):
    # Convert the number to a string
    num_str = str(num)
    
    # Reverse the string
    reversed_str = num_str[::-1]
    
    # Check if the reversed string is equal to the original string
    if num_str == reversed_str:
        return True
    else:
        return False

# Example usage:
num = int(input("Enter a number: "))

if is_palindrome(num):
    print(num, "is a palindrome number.")
else:
    print(num, "is not a palindrome number.")

Enter a number: 453
453 is not a palindrome number.

### Q_No_7

In [34]:
# Write a program in Python to find greatest among three integers.
def greatest(a,b,c):
    gretest = []
    if a > b and a > c:
        gretest.append(a)
    elif b > a and b > c:
        gretest.append(b)
    elif c > b and c > a:
        gretest.append(c)
    return gretest

In [35]:
print(greatest(4,1,7))

[7]

### Q_No_8

### Write a program in Python to check if a number is binary?

In [42]:
def is_binary(num):
    # Convert the number to a string
    num_str = str(num)
    
    # Check if the string contains only 0s and 1s
    for i in num_str:
        if i != '0' and i != '1':
            return False
    
    return True

# Example usage:
num = input("Enter a number: ")

if is_binary(num):
    print(num, "is a binary number.")
else:
    print(num, "is not a binary number.")

Enter a number: 987
987 is not a binary number.

### Q_No_9

### Write a program in Python to find sum of digits of a number using recursion?

In [53]:
a = [23,4,3]
print(sum(a))

30

In [55]:
def sum_of_digits(n):
    if n == 0:
        return 0
    else:
        return (n % 10) + sum_of_digits(n // 10)

# Example usage:
num = int(input("Enter a number: "))

digit_sum = sum_of_digits(num)
print("Sum of digits:", digit_sum)

Enter a number: 4523
Sum of digits: 14

### Q_No_10

### Write a program in Python to swap two numbers without using third variable?

In [67]:
a = 6
b = 7
a = a - b
b = a + b
a = b -a
print(a)
print(b)

7
6

### Q_No_11

### Write a program in Python to swap two numbers using third variable?

In [68]:
a = 3 
b = 2
c = a
a = b
b = c
print(a)
print(b)

2
3

### Q_No_12

### Write a program in Python to find factorial of a number

In [16]:
def fact(n):
    fact = 1
    if n < 0:
        print('invalid number')
    elif n == 0:
        print(' the factorial of 0 is 1')
    for i in range(1, n+1):
        fact = fact * i
    return fact

n = int(input("puy your number to find factorial : "))
print(fact(n))

puy your number to find factorial : 6
720

### Q_No_13:

### Python Program to find Smallest number among three.

In [82]:

def smallest(a,b,c):
    smallest = []
    if a < b and a < c:
        smallest.append(a)
    elif b < a and b < c:
        smallest.append(b)
    elif c < b and c < a:
        smallest.append(c)
    return smallest

print(smallest(3,6,1))

[1]

### Q_No_14

### Python Program to check the given year is a leap year or not.

In [83]:
year = int(input("Please Enter a year: "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, "is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Please Enter a year: 2050
2050 is not a leap year

### Q_NO_15

### Python Program to convert Celsius to Fahrenheit.

# F = (c * 1.8)+32 = 86

In [87]:
n = float(input('put number to convert into farenhite  :'))
f_tem = (n * 1.8) + 32 

print(f_tem)

put number to convert into farenhite  :34
93.2

In [86]:
# program to convert Celsius to Fahrenheit
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 1.8) + 32
print("Temperature in Fahrenheit: ", fahrenheit)

Enter temperature in Celsius: 34
Temperature in Fahrenheit:  93.2

### Q_No_16

In [8]:
# creating an array containing same
# data type elements
import array

sample_array = array.array('i', [1, 2, 3])
type(sample_array)

array.array

In [9]:
# accessing elements of array
for i in sample_array:
	print(i)

1
2
3

In [10]:
# creating a list containing elements
# belonging to different data types
sample_list = [1,"Yash",['a','e']]
print(sample_list)

[1, 'Yash', ['a', 'e']]

In [11]:
len(sample_list)

3

In [2]:
for i in range(10):
    print(i)
print(i)

0
1
2
3
4
5
6
7
8
9
9

### Count the numbers in an arry (Devsin)

In [1]:
a = [1, 2, 3, 4, 5, 5, 2]
b = dict()
for i in a:
    if i in b:
        b[i] += 1  # Increment the count of the existing number
    else:
        b[i] = 1  # Initialize the count for the new number
print(b)

{1: 1, 2: 2, 3: 1, 4: 1, 5: 2}

In [41]:
a = 'trtrtrtyry'
b = dict()
for i in a:
    if i in b:
        b[i] += 1  # Increment the count of the existing number
    else:
        b[i] = 1  # Initialize the count for the new number
print(b)

{'t': 4, 'r': 4, 'y': 2}

### Covert lower case letters to Uppercase and vice versa(Devsin)

In [48]:
a = 'Register your Models Here'
for i in a:
    if i.isupper():
        print(i.lower(), end = '')
    else:
        print(i.upper(), end= '')

rEGISTER YOUR mODELS hERE

In [49]:
# leap year

In [72]:
def fact(n):
    if n==0:
        return 1
    else:
        print(n)
        return fact(n-1)*(n)
    
fact(4)

4
3
2
1

24

In [ ]:
4*3*2*1

### Class For Bank Account

In [2]:
class BankAccount:
    def __init__(self, initial_balance=0):
        self._balance = initial_balance  # Private attribute
    
    def deposit(self, amount):
        if amount > 0:
            self._balance += amount
            print(f"Deposited: {amount}")
        else:
            print("Deposit amount must be positive")
    
    def withdraw(self, amount):
        if 0 < amount <= self._balance:
            self._balance -= amount
            print(f"Withdrawn: {amount}")
        else:
            print("Insufficient funds or invalid amount")
    
    def get_balance(self):
        return self._balance

# Example usage:
account = BankAccount(100)  # Initial balance of 100
print(f"Initial Balance: {account.get_balance()}")

account.deposit(50)  # Depositing 50
print(f"Balance after deposit: {account.get_balance()}")

account.withdraw(30)  # Withdrawing 30
print(f"Balance after withdrawal: {account.get_balance()}")

account.withdraw(150)  # Attempt to withdraw more than the balance

Initial Balance: 100
Deposited: 50
Balance after deposit: 150
Withdrawn: 30
Balance after withdrawal: 120
Insufficient funds or invalid amount

In [1]:
def val(x):
    x = x +1 
    print('iner value', x)

a = 10
val(a)
print('outer value', a)

iner value 11
outer value 10

In [1]:
def string_balance_test(s1, s2):
    flag = True
    for char in s1:
        if char in s2:
            continue
        else:
            flag = False
    return flag


s1 = "Yn"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 = "Ynf"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 and s2 are balanced: True
s1 and s2 are balanced: False

### Given an array of integers nums and an integer target, return the indices of the two numbers that add up to the target.(arhmsoft)

In [3]:
a = [1, 2, 3, 4, 5]
target  = 3 

for i in range(len(a)):
    for j in range(i, len(a)):
        if a[i] + a[j] == target and i != j:
            print([i, j])

[0, 1]