### Q_NO_1

### Write a program to reverse an integer in Python.

In [1]:
a = '1234'
a[::-1]

'4321'

### Q_No_2

### Write a Python Code to Check if a Number is Odd or Even.

In [21]:
n = int(input('put number you want to check : '))
if n % 2 == 0:
    print("even")
else:
    print('odd')

put number you want to check : 7
odd

### Q_NO_3

### Write a Python code to find the maximum of two numbers.

In [23]:
a = int(input('Put number 1: '))
b = int(input('put number 2: '))

if a > b:
    print(a,'is greater then',b)
else:
    print(b, 'is greater then',a)

Put number 1: 5
put number 2: 8
8 is greater then 5

### Q_No_4

### Write a Python factorial program without using if-else, for, and ternary operators.

In [2]:
def factorial(n):
    return (n == 1) or (n * factorial(n-1))

num = int(input("Enter a number: "))
result = factorial(num)

print("The factorial of", num, "is", result)

The factorial of 23 is 25852016738884976640000

### Q_NO_6

### Write a Python code to calculate the square root of a given number.

In [31]:
a = int(input('put number for sqare : '))
b = a ** 0.5
b

put number for sqare : 4

2.0

In [32]:
import math

num = float(input("Enter a number: "))
sqrt = math.sqrt(num)

print("The square root of", num, "is", sqrt)

Enter a number: 4
The square root of 4.0 is 2.0

### Q_NO_7

### Write a Python code to calculate the area of a triangle

In [38]:
# ABC = (s(s*a)+(s*b)+(s*c))*0.5
a = int(input('put traingle side a value : '))
b = int(input('put traingle side b value : '))
c = int(input('put traingle side c value : '))
s = a + b + c
p = s / 2
t = p * 0.5
print(t)

put traingle side a value : 3
put traingle side b value : 4
put traingle side c value : 5
3.0

In [1]:
def calculate_triangle_area(base, height):
    area = 0.5 * base * height
    return area

# Example usage:
base = float(input("Enter the base length of the triangle: "))
height = float(input("Enter the height of the triangle: "))

triangle_area = calculate_triangle_area(base, height)
print("The area of the triangle is:", triangle_area)

Enter the base length of the triangle: 5
Enter the height of the triangle: 4
The area of the triangle is: 10.0

### Q_No_8

### Write a Python code to display a multiplication table using for loop.

In [8]:
num = int(input("Enter a number: "))

print(f"Multiplication Table for {num}:")
for i in range(1, 11):
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number: 7
Multiplication Table for 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [5]:
a = list(input('put your list : ').split(','))

put your list : fsdfds

In [48]:
# Function to separate negative values into one list and even/odd values into two separate lists
def separate_values(input_list):
    negative_values = []
    even_values = []
    odd_values = []
    for num in input_list:
        if num < 0:
            negative_values.append(num)
        elif num % 2 == 0:
            even_values.append(num)
        else:
            odd_values.append(num)
    return negative_values, even_values, odd_values

# Get input from user and convert it to a list
input_list = list(map(int, input("Enter comma-separated numbers: ").split(",")))

# Call the separate_values function to separate the values
negative_values, even_values, odd_values = separate_values(input_list)

# Print the results
print("Negative values:", negative_values)
print("Even values:", even_values)
print("Odd values:", odd_values)

Enter comma-separated numbers: 2,3,4,5,6,-3,4,5,6,7,-8
Negative values: [-3, -8]
Even values: [2, 4, 6, 4, 6]
Odd values: [3, 5, 5, 7]