### Exercise 1A: Create a string made of the first, middle and last character
Write a program to create a new string made of an input string’s first, middle, and last character.

Given:

str1 = "James"

Expected Output:

Jms

In [3]:
def create_new_string(input_string):
    length = len(input_string)
    if length < 3:
        return "Input string should have at least 3 characters."
    
    first_char = input_string[0]
    middle_char = input_string[length // 2]
    last_char = input_string[-1]
    
    new_string = first_char + middle_char + last_char
    return new_string

# Example usage
str1 = "James"
result = create_new_string(str1)
print(result)

Jms

### Exercise 1B: Create a string made of the middle three characters
Write a program to create a new string made of the middle three characters of an input string.

Given:

Case 1

str1 = "JhonDipPeta"

Output

Dip

Case 2

str2 = "JaSonAy"

Output

Son

In [6]:
def three_midl(str1):
    print("orignal string is :",str1)
    a = int(len(str1) / 2)
    b = str1[a -1:a + 2]
    print(b)
three_midl("JhonDipPeta")
three_midl("JaSonAy")

orignal string is : JhonDipPeta
Dip
orignal string is : JaSonAy
Son

### Exercise 2: Append new string in the middle of a given string
Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

Given:

s1 = "Ault"

s2 = "Kelly"

Expected Output:

AuKellylt

In [10]:
def comlt_str(s1, s2):
    a = int(len(s1) / 2)
    b = s1[:a]
    c = s1[a:]
    d = b + s2 + c
    return d
comlt_str("Ault","Kelly")

'AuKellylt'

In [14]:
def append_middle(s1, s2):
    print("Original Strings are", s1, s2)

    # middle index number of s1
    mi = int(len(s1) / 2)

    # get character from 0 to the middle index number from s1
    x = s1[:mi:]
    # concatenate s2 to it
    x = x + s2
    # append remaining character from s1
    x = x + s1[mi:]
    print("After appending new string in middle:", x)

append_middle("Ault", "Kelly")

Original Strings are Ault Kelly
After appending new string in middle: AuKellylt

### Exercise 3: Create a new string made of the first, middle, and last characters of each input string

Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.

Given:

s1 = "America"

s2 = "Japan"

Expected Output:

AJrpan

In [17]:
def create_new_string(s1, s2):
    # Get the first, middle, and last characters from s1
    s1_first = s1[0]
    s1_middle = s1[len(s1) // 2]
    s1_last = s1[-1]

    # Get the first, middle, and last characters from s2
    s2_first = s2[0]
    s2_middle = s2[len(s2) // 2]
    s2_last = s2[-1]

    # Concatenate the characters to form the new string
    new_string = s1_first + s2_first + s1_middle + s2_middle + s1_last + s2_last
    return new_string

# Example usage
s1 = "America"
s2 = "Japan"
result = create_new_string(s1, s2)
print(result)

AJrpan

### Exercise 4: Arrange string characters such that lowercase letters should come first
Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:

str1 = PyNaTive

Expected Output:

yaivePNT

In [21]:
str1 = "PyNaTive"
lower = []
upper = []
for i in str1:
    if i.islower():
        lower.append(i)
    else:
        upper.append(i)
print(lower + upper)

['y', 'a', 'i', 'v', 'e', 'P', 'N', 'T']

In [22]:
str1 = "PYnAtivE"
print('Original String:', str1)
lower = []
upper = []
for char in str1:
    if char.islower():
        # add lowercase characters to lower list
        lower.append(char)
    else:
        # add uppercase characters to lower list
        upper.append(char)

# Join both list
sorted_str = ''.join(lower + upper)
print('Result:', sorted_str)

Original String: PYnAtivE
Result: ntivPYAE

### Exercise 5: Count all letters, digits, and special symbols from a given string
Given:

str1 = "P@#yn26at^&i5ve"

Expected Outcome:

Total counts of chars, digits, and symbols 

Chars = 8 

Digits = 3 

Symbol = 4

In [24]:
def count_all(str1):
    count_chars = 0
    count_Digits = 0
    count_symbol = 0
    for i in str1:
        if i.isdigit():
            count_Digits += 1
        elif i.isalpha():
            count_chars += 1
        else:
            count_symbol +=1
    return count_chars, count_Digits, count_symbol
count_all("P@#yn26at^&i5ve")

(8, 3, 4)

In [25]:
def find_digits_chars_symbols(sample_str):
    char_count = 0
    digit_count = 0
    symbol_count = 0
    for char in sample_str:
        if char.isalpha():
            char_count += 1
        elif char.isdigit():
            digit_count += 1
        # if it is not letter or digit then it is special symbol
        else:
            symbol_count += 1

    print("Chars =", char_count, "Digits =", digit_count, "Symbol =", symbol_count)

sample_str = "P@yn2at&#i5ve"
print("total counts of chars, Digits, and symbols \n")
find_digits_chars_symbols(sample_str)

total counts of chars, Digits, and symbols

Chars = 8 Digits = 2 Symbol = 3

### Exercise 6: Create a mixed String using the following rules
Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

Given:

s1 = "Abc"

s2 = "Xyz
"
Expected Output:

AzbycX

In [27]:
def mix_str(s1,s2):
    a, b,c= s1[:1] , s1[1:2], s1[2:]
    d,e,f = s2[:1] , s2[1:2], s2[2:]
    out_str = a + f + b + e + c + d
    return out_str
mix_str("Abc", "Xyz")

'AzbycX'

In [28]:
s1 = "Abc"
s2 = "Xyz"

# get string length
s1_length = len(s1)
s2_length = len(s2)

# get length of a bigger string
length = s1_length if s1_length > s2_length else s2_length
result = ""

# reverse s2
s2 = s2[::-1]

# iterate string 
# s1 ascending and s2 descending
for i in range(length):
    if i < s1_length:
        result = result + s1[i]
    if i < s2_length:
        result = result + s2[i]

print(result)

AzbycX

### Exercise 7: String characters balance Test
Write a program to check if two strings are balanced. For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter.

Given:


Case 1:

s1 = "Yn"

s2 = "PYnative"

Expected Output:

True

Case 2:

s1 = "Ynf"

s2 = "PYnative"

Expected Output:

False

In [45]:
def string_balance_test(s1, s2):
    flag = True
    for char in s1:
        if char in s2:
            continue
        else:
            flag = False
    return flag


s1 = "Yn"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 = "Ynf"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 and s2 are balanced: True
s1 and s2 are balanced: False

### Exercise 8: Find all occurrences of a substring in a given string by ignoring the case
Write a program to find all occurrences of “USA” in a given string ignoring the case.

Given:

str1 = "Welcome to USA. usa awesome, isn't it?"

Expected Outcome:


The USA count is: 2

In [51]:
str1 = "Welcome to USA. usa awesome, isn't it?"
sub_string = "USA"

# convert string to lowercase
temp_str = str1.lower()

# use count function
count = temp_str.count(sub_string.lower())
print("The USA count is:", count)

The USA count is: 2

### Exercise 9: Calculate the sum and average of the digits present in a string
Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.

Given:

str1 = "PYnative29@#8496"

Expected Outcome:

Sum is: 38 Average is  6.333333333333333

In [62]:
def count_sum_avrg(str1):
    digits = []
    for i in str1:
        if i.isdigit():
            digits.append(i)
            
    return digits
print(sum(digits))

count_sum_avrg("PYnative29@#8496")

NameError: name 'digits' is not defined

In [63]:
input_str = "PYnative29@#8496"
total = 0
cnt = 0
for char in input_str:
    if char.isdigit():
        total += int(char)
        cnt += 1

# average = sum / count of digits
avg = total / cnt
print("Sum is:", total, "Average is ", avg)

Sum is: 38 Average is  6.333333333333333

### Exercise 10: Write a program to count occurrences of all characters within a string
Given:

str1 = "Apple"

Expected Outcome:

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [68]:
str1 = "Apple"

# create a result dictionary
char_dict = dict()

for i in str1:
    count = str1.count(i)
    # add / update the count of a character
    char_dict[i] = count
print('Result:', char_dict)

Result: {'A': 1, 'p': 2, 'l': 1, 'e': 1}

### Exercise 11: Reverse a given string
Given:

str1 = "PYnative"

Expected Output:

evitanYP

In [69]:
str1 = "PYnative"
a = str1[::-1]
print(a)

evitanYP

In [72]:
str1 = "PYnative"
print("Original String is:", str1)

str1 = ''.join(reversed(str1))
print("Reversed String is:", str1)

Original String is: PYnative
Reversed String is: evitanYP

### Exercise 12: Find the last position of a given substring
Write a program to find the last position of a substring “Emma” in a given string.

Given:

str1 = "Emma is a data scientist who knows Python. Emma works at google."

Expected Output:

Last occurrence of Emma starts at index 43

In [77]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print("Original String is:", str1)

index = str1.rfind("Emma")
print("Last occurrence of Emma starts at index:", index)

Original String is: Emma is a data scientist who knows Python. Emma works at google.
Last occurrence of Emma starts at index: 43

### Exercise 13: Split a string on hyphens
Write a program to split a given string on hyphens and display each substring.

Given:


str1 = Emma-is-a-data-scientist

Expected Output:

Displaying each substring

Emma

is

a

data 
scientist

In [93]:
str1 = "Emma-is-a-data-scientist"
a = ' '.join(str1.split('-'))
print(a)

Emma is a data scientist

In [94]:
str1 = "Emma-is-a-data-scientist"
print("Original String is:", str1)

# split string
sub_strings = str1.split("-")

print("Displaying each substring")
for sub in sub_strings:
    print(sub)

Original String is: Emma-is-a-data-scientist
Displaying each substring
Emma
is
a
data
scientist

### Exercise 14: Remove empty strings from a list of strings
Given:

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

Expected Output:

Original list of sting
['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']


After removing empty strings

['Emma', 'Jon', 'Kelly', 'Eric']

In [95]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

# use built-in function filter to filter empty value
new_str_list = list(filter(None, str_list))

print("After removing empty strings")
print(new_str_list)

After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']

### Exercise 15: Remove special symbols / punctuation from a string
Given:

str1 = "/*Jon is @developer & musician"

Expected Output:

"Jon is developer musician"

In [96]:
import string

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

new_str = str1.translate(str.maketrans('', '', string.punctuation))

print("New string is ", new_str)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

In [97]:
import re

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

# replace special symbols with ''
res = re.sub(r'[^\w\s]', '', str1)
print("New string is ", res)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

### Exercise 16: Removal all characters from a string except integers
Given:

str1 = 'I am 25 years and 10 months old'

Expected Output:

2510

In [106]:
str1 = 'I am 25 years and 10 months old'
a = []
for i in str1:
    if i.isdigit():
        a.append(i)
print(''.join(a))

2510

In [107]:
str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])

print(res)

Original string is I am 25 years and 10 months old
2510

### Exercise 17: Find words with both alphabets and numbers
Write a program to find words with both alphabets and numbers from an input string.

Given:

str1 = "Emma25 is Data scientist50 and AI Expert"

Expected Output:

Emma25

scientist50

In [108]:
import re

def find_words_with_alphabets_and_numbers(input_string):
    pattern = r'\b(?=\w*\d)(?=\w*[a-zA-Z])\w+\b'
    matches = re.findall(pattern, input_string)
    return matches

# Example usage
str1 = "Emma25 is Data scientist50 and AI Expert"
result = find_words_with_alphabets_and_numbers(str1)
print(result)

['Emma25', 'scientist50']

### Exercise 18: Replace each special symbol with # in the following string
Given:

str1 = '/*Jon is @developer & musician!!'

Expected Output:

##Jon is #developer # musician##

In [109]:
import string

str1 = '/*Jon is @developer & musician!!'
print("The original string is : ", str1)

# Replace punctuations with #
replace_char = '#'

# string.punctuation to get the list of all special symbols
for char in string.punctuation:
    str1 = str1.replace(char, replace_char)

print("The strings after replacement : ", str1)

The original string is :  /*Jon is @developer & musician!!
The strings after replacement :  ##Jon is #developer # musician##