In [1]:
#1.create first class in python
class Phone:
    def make_call(self):
        print("i am making a call")
    def play_game(self):
        print("i am playing a game")

In [2]:
p1 = Phone()

In [3]:
p1.make_call()

i am making a call

In [4]:
p1.play_game()

i am playing a game

In [5]:
#2.adding parameters to the class

In [6]:
class Phone:
    def set_color(self,color):
        self.color = color
        
    def set_cost(self,cost):
        self.cost = cost
        
    def show_color(self):
        return self.color
    
    def show_cost(self):
        return self.cost
    
    def make_call(self):
        print("make a call")
        
    def play_game(self):
        print("play game")

In [7]:
p2  = Phone()

In [8]:
p2.set_color("blue")

In [9]:
p2.set_cost(5000)

In [10]:
p2.show_color()

'blue'

In [11]:
p2.show_cost()

5000

In [12]:
p2.make_call()

make a call

In [13]:
p2.play_game()

play game

In [14]:
#3-Creating class with constructor

In [15]:
class Employee:
    def __init__ (self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
        
    def show_empolyee_deatails(self):
        print("name of empolyee is : " ,self.name)
        print("age of empolyee is : " ,self.age)
        print("salary of empolyee is : ", self.salary)
        print("gender of empolyee is : ", self.gender)

In [16]:
e1 = Employee('rizwan',23,5000,'Male')

In [17]:
e1.show_empolyee_deatails()

name of empolyee is :  rizwan
age of empolyee is :  23
salary of empolyee is :  5000
gender of empolyee is :  Male

In [18]:
# 4- inheretence
#get properties of one class to other

In [19]:
#inheretence example
class Vehicle:
    def __init__(self,milage,cost):
        self.milage = milage
        self.cost = cost
        
    def show_vehicle_details(self):
        print("Milage of vehicle is : ",self.milage)
        print("cost of vehicle is : ",self.cost)
        print("i am a vhicle")

In [20]:
v1 = Vehicle(300,500)

In [21]:
v1.show_vehicle_details()

Milage of vehicle is :  300
cost of vehicle is :  500
i am a vhicle

In [22]:
class Car(Vehicle):
    def show_Car_details(self):
        print("i am car")

In [23]:
c1 = Car(400,333)

In [24]:
c1.show_vehicle_details()

Milage of vehicle is :  400
cost of vehicle is :  333
i am a vhicle

In [25]:
c1.show_Car_details()

i am car

In [26]:
#5- over riding init method

In [27]:
class Vehicle:
    def __init__(self,milage,cost):
        self.milage = milage
        self.cost = cost
        
    def show_vehicle_details(self):
        print("Milage of vehicle is : ",self.milage)
        print("cost of vehicle is : ",self.cost)
        print("i am a vhicle")

In [28]:
v1 = Vehicle(500,700)

In [29]:
# a)sigle inheretence
class Car(Vehicle):
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp
    def show_Car_details(self):
        print("Number of tyres in car: ",self.tyres)
        print("horse of car is: ",self.hp)
        print("i am a car")

In [30]:
c1 = Car(600,10000,6,888)

In [31]:
c1.show_vehicle_details()

Milage of vehicle is :  600
cost of vehicle is :  10000
i am a vhicle

In [32]:
#6-diff type of inheretence
# a)sigle inheretence
# b) Multiple inheretence
# c) Multi-level inheretence
# d) hybarid inheretence

In [33]:
# b) Multiple inheretence(the child inheret from more than one class)
class Parent1:
    def assign_string_one(self,str1):
        self.str1 = str1
    def show_string_one(self):
        return self.str1

In [34]:
class Parent2:
    def assign_string_two(self,str2):
        self.str2 = str2
    def show_string_two(self):
        return self.str2

In [35]:
class Child(Parent1,Parent2):
    def assign_string_three(self,str3):
        self.str3  = str3
    def show_string_three(self):
        return self.str3

In [36]:
my_child = Child()

In [37]:
my_child.assign_string_three("i am a string of parent 3")

In [38]:
my_child.show_string_three()

'i am a string of parent 3'

In [41]:
#c) multi-level= we have parent, child, grand-child relationship

In [42]:
#parent class
class Parent:
    def get_name(self,name):
        self.name = name
    def show_name(self):
        return self.name

In [43]:
class child(Parent):
    def get_age(self,age):
        self.age = age
    def show_age(self):
        return self.age

In [44]:
class grandchild(child):
    def get_gender(self,gender):
        self.gender = gender
    def show_gender(self):
        return self.gender

In [45]:
gc = grandchild()

In [46]:
gc.get_name("rizwan")

In [47]:
gc.get_age(21)

In [48]:
gc.get_gender('Male')

In [49]:
gc.show_name()

'rizwan'

In [50]:
gc.show_gender()

'Male'

In [51]:
gc.show_age()

21